.page-container {
  color: white;
  background-color: #292631;
  height: 100%;
}

.header {
  background-color: #231F27;
}

.header, .main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__inner, .main__inner {
  max-width: 1440px;
  margin: 0px auto;
}

.main__inner {
  flex-basis: 100%;
}

.header__inner > h1 {
  margin-bottom: 1rem;
}

input {
  background-color: #231F27;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  padding: .75rem 1.25rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.table-grid {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 0.5rem; /* vertical margin between rows */
}
.table-grid th {
  font-size: 0.75rem;
  padding: 0.75rem 1.25rem; /* Padding for headers */
  text-align: left;
}

.table-grid td {
  background-color: #231F27;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  padding: 0.75rem 1.25rem; /* Adjusted padding */
  text-align: left;
}

/* Additional styling to ensure border-radius on cells */
.table-grid tr:first-child td:first-child {
  border-top-left-radius: 0.25rem;
}

.table-grid tr:first-child td:last-child {
  border-top-right-radius: 0.25rem;
}

.table-grid tr:last-child td:first-child {
  border-bottom-left-radius: 0.25rem;
}

.table-grid tr:last-child td:last-child {
  border-bottom-right-radius: 0.25rem;
}

.table-grid td:last-child {
  color: hsl(0, 0%, 50%); /* Light grey color */
}

.table-grid th:nth-child(1), .table-grid td:nth-child(1) { width: 8.33%; } /* ID, spans 1 column */
.table-grid th:nth-child(2), .table-grid td:nth-child(2) { width: 16.66%; } /* First Name, spans 2 columns */
.table-grid th:nth-child(3), .table-grid td:nth-child(3) { width: 50%; } /* Last Name, spans 6 columns */
.table-grid th:nth-child(4), .table-grid td:nth-child(4) { width: 25%; } /* Email, spans 3 columns */
